@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

header, footer, .container { max-width: 90em; margin: 0 auto; }

body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
    line-height: 1.61;
    box-sizing: border-box;
}

hr {
    font-weight: 100px;
}

.text-muted { 
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super{
    font-size: 50px;
    font-weight: bold;
}

.title-logo {
    margin-top: 20px;
}

.wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

footer ul li{
    padding: 0 10px;
    float: left;
}

@media only screen and (max-width: 576px) {
	.title-super{
	    font-size: 30px;
	}
    .carousel-inner img {
        min-height: 190px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
	.title-super{
	    font-size: 35px;
	}
	.img-responsive{
		display: -webkit-inline-box;
	}
}